<ion-view title="Cookers">
    <ion-content>
        <!--ion-refresher start-->
        <ion-refresher
            pulling-text="당기면 새로운 쿡!"
            pulling-icon="ionicons ion-ios-paw"
            spinner="android"
            on-refresh="refreshcookList()">
        </ion-refresher>
        <!--ion-refresher end-->

        <!--repeart part start-->
        <div class="list card" ng-repeat="cook in cook_list  | limitTo : cook_count">
            <a class="item item-avatar avatar_div" href="#/tab/user/{{cook.w_cooker._id}}">
                <!--<img class="avatar_img" ng-src={{cook.w_cooker_info.cooker_photo.path}}>-->
                <img src="img/nick.jpg">
                <div class="row" style="padding-top:0px;">
                    <div class="col" style="font-weight: bold; padding-top:0px; font-size:15px;">
                        {{cook.w_cooker.nick_name}}
                    </div>
                    <div class="col col-75" style="text-align:right; padding-top:0px; font-size:12px; color:slategray">
                        {{change_date(cook.date)}}
                    </div>
                </div>
            </a>

            <a class="item item-thumbnail-left cookdetail_btn" href="#" ng-click="openshowrecipeModal(cook._id)">
                <!--<img ng-src={{cook.comple_photo.path}}>-->
                <img src="img/recipe_testimg.jpg">
                <h2>{{cook.title}}</h2>

                <div style="white-space:pre-line; color:#9B9EA3; font-size:12px;">{{cook.desc}}</div>

                <div class="row" style="padding:0px; text-align: center; color:#9B9EA3">
                    <div class="col" style="padding-bottom:0px;"><i class="ionicons ion-android-restaurant"></i>&nbsp;&nbsp;&nbsp;{{cook.yummy.cooks.length}}</div>
                    <div class="col" style="padding-bottom:0px;"><i class="ionicons ion-chatbox-working"></i>&nbsp;&nbsp;&nbsp;{{cook.reply.cookers.length}}</div>
                    <div class="col" style="padding-bottom:0px;"><i class="ionicons ion-ios-glasses"></i>&nbsp;&nbsp;&nbsp;{{cook.hits}}</div>
                </div>
            </a>
        </div>
        <!--repeart part end-->

        <!--ion-infinite-scroll start-->
        <ion-infinite-scroll
            ng-if="moreDataCanBeLoaded"
            on-infinite="loadmorecookList()"
            spinner="android"
            distance="1%">
        </ion-infinite-scroll>
        <!--ion-infinite-scroll end-->
    </ion-content>
</ion-view>
