<ion-popover-view class="fit">
    <ion-content scroll="false">
        <div class="list">
            <a class="item" ng-show="checkmy_Report" ng-click="closemoreinfoPopover('mine')">
                삭제
            </a>
            <!--<a class="item" ng-show="checkmy_Report" ng-click="closemoreinfoPopover()">
                수정
            </a>-->
            <a class="item" ng-show="checkothers_Report" ng-click="closemoreinfoPopover('others')">
                신고
            </a>
        </div>
    </ion-content>
</ion-popover-view>
