<div ng-controller="replymodalCtrl" class="modal image-modal transparent">
    <div class="card showcookCard">
        <ion-header-bar class="bar-assertive">
            <button class="button icon-left ion-ios-arrow-thin-left button-clear" ng-click="closeModal()"></button>
            <h1 class="title">{{cook_model.title}}</h1>
        </ion-header-bar>

        <div ng-show="comments_check" style="position:absolute; top:50%; width:100%; height:240px; margin-top:-120px; text-align: center; color:#595959;">
            <i class="ionicons ion-chatbox-working" style="font-size: 128px;"></i><br>
            <h5>등록된 댓글이 없어요
                <br>
                서로의 맛있는 비법을 공유해 보아요~!
            </h5>
        </div>

        <ion-content delegate-handle="mainScroll">
            <ion-list>
                <ion-item ng-repeat="item in cookers" class="item item-avatar" style="border-bottom:1px;">
                    <img src="img/unanimous.png" style="border-radius:0%;">
                    <div class="row" style="padding-top:0px;">
                        <div class="col" style="font-weight: bold; padding-top:0px; font-size:15px;">
                            {{item._id.nick_name}}
                        </div>
                        <div class="col" style="padding-top:0px; font-size:12px; color:slategray">
                            {{change_date(item.date)}}
                        </div>
                        <div style="font-size:20px;">
                            <!--<button class="button button-icon ion-android-more-vertical" ng-click="popover.show($event)">
                            </button>-->
                            <!--<span ng-click="popover.show($event)">-->
                            <span ng-click="openmoreinfoPopover($event)">
                                <i class="ionicons ion-android-more-vertical"></i>
                            </span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <h3 style="white-space: normal;">{{item.comment}}</h3>
                        </div>
                    </div>
                    <!--<h3 style="white-space: normal;"></h3>-->

                    <!--<time-directive time-data="item.date"></time-directive>-->
                </ion-item>
            </ion-list>
        </ion-content>

        <ion-footer-bar align-title="left" class="item-input-inset">
            <label class="item-input-wrapper">
                <i class="ionicons ion-chatbubble-working" style="color:#B9B9B9"></i>
                <input type="text" ng-keyup="keyUpTag($event)" ng-model="write_comment" placeholder="댓글 남기기">
            </label>
            <button ng-click="apply_comment()" class="button button-outline button-assertive">
                등록
            </button>
        </ion-footer-bar>
    </div>
</div>
