<div ng-controller="showcookingmodalCtrl" class="modal image-modal transparent">
    <ion-slide-box on-slide-changed="slideChanged(index)" show-pager="false">
        <!--0번째 step ion-slide (완성사진과 재료를 보여줌)-->
        <ion-slide>
            <!--complete step header-->
            <div class="list card showcookCard">
                <ion-header-bar class="bar-assertive">
                    <button class="button icon-left ion-ios-arrow-thin-left button-clear" ng-click="closeModal()"></button>
                    <h1 class="title">{{current_cook.title}}</h1>
                    <button class="button icon-left button-clear"
                            ng-class="{true: 'ion-android-star', false: 'ion-android-star-outline'}[is_zimmy]"
                            ng-click="manageZimmy()">
                    </button>
                </ion-header-bar>

                <ion-content delegate-handle="mainScroll" padding="true" has-footer="true">
                    <ion-list>
                        <!--모달에서 user페이지로 가기 때문에 user페이지에서 뒤로가기를 눌러도 다시 쿡 모달로 돌아가지 않는다.
                        애들한테 얘기해볼 것-->

                        <!--<a class="item item-avatar avatar_div" ng-click="gouserstateincookModal()" href="#/tab/user/{{current_cook.w_cooker._id}}">
                            <img src="img/nick.jpg">
                            <h2 style="font-size:15px; font-weight: bold; color:slategrey">{{current_cook.w_cooker.nick_name}}</h2>
                            <h4 style="font-size:12px; padding-top:5px;">{{current_cook.w_cooker.state_comment}}</h4>
                        </a>-->
                        <div class="item item-image"  style="width:100%; height:300px;">
                            <img ng-src={{current_cook.complete_photo}}>
                            <!--<img src="img/food3.jpg">-->
                        </div>
                        <div class="tag_div">
                            <button class="button button-small button-clear button-positive tag_button"
                                    ng-repeat="tag in current_cook.tags" ng-click="tag_clicked(tag.tag_name)">
                                #{{tag.tag_name}}
                            </button>
                        </div>

                        <div class="card">
                            <div class="item item-text-wrap">
                                쿡 재료 :
                            <span ng-repeat="stuff in current_cook.stuffs">
                                {{$index != current_cook.stuffs.length-1 ? stuff.stuff_name+"," : stuff.stuff_name}}
                            </span>
                            </div>
                        </div>
                    </ion-list>
                </ion-content>

                <!--complete step button group-->
                <ion-footer-bar class="bar-assertive" style="padding:0px; border:0px;">
                    <div class="item tabs tabs-assertive tabs-icon-left">
                        <a class="tab-item" ng-click="yummyClicked()">
                            <i class="icon ion-android-favorite" ng-show="yummy_check"></i>
                            <i class="icon ion-android-favorite-outline" ng-hide="yummy_check"></i>
                            <span style="font-size:14px;">&nbsp;&nbsp;&nbsp;{{yummy_count}}</span>
                        </a>
                        <a class="tab-item" ng-click="addReply()">
                            <i class="icon ion-chatbox"></i>
                            <span style="font-size:14px;">&nbsp;&nbsp;&nbsp;{{reply_count}}</span>
                        </a>
                        <a class="tab-item" ng-click="share_social()">
                            <i class="icon ion-android-share-alt"></i>
                        </a>
                        <a class="tab-item" ng-click="show_summary()">
                            <i class="icon ion-ios-grid-view"></i>
                        </a>
                    </div>
                </ion-footer-bar>
            </div>
        </ion-slide>

        <ion-slide ng-repeat="step in current_cook.steps">
            <!--steps header-->
            <div class="list card showcookCard">
                <ion-header-bar class="bar-assertive">
                    <button class="button icon-left ion-ios-arrow-thin-left button-clear" ng-click="closeModal()"></button>
                    <h1 class="title">{{current_cook.title}}</h1>
                    <button class="button icon-left button-clear"
                            ng-class="{true: 'ion-android-star', false: 'ion-android-star-outline'}[is_zimmy]"
                            ng-click="manageZimmy()">
                    </button>
                </ion-header-bar>

                <!--steps showcookBody-->
                <ion-content delegate-handle="mainScroll" padding="true" has-footer="true">
                    <ion-list>
                        <!--<a class="item item-avatar avatar_div" ng-click="gouserstateincookModal()" href="#/tab/user/{{current_cook.w_cooker._id}}">
                            <img src="img/nick.jpg">
                            <h2 style="font-size:15px; font-weight: bold; color:slategrey">{{current_cook.w_cooker.nick_name}}</h2>
                            <h4 style="font-size:12px; padding-top:5px;">{{current_cook.w_cooker.state_comment}}</h4>
                        </a>-->
                        <div class="item item-image"  style="width:100%; height:300px;">
                            <img ng-src={{step.photo}}>
                            <!--<img src="img/food3.jpg">-->
                        </div>

                        <div class="tag_div">
                            <button class="button button-small button-clear button-positive tag_button"
                                    ng-repeat="tag in current_cook.tags" ng-click="tag_clicked(tag.tag_name)">
                                #{{tag.tag_name}}
                            </button>
                        </div>

                        <div class="card">
                            <div class="item item-text-wrap">
                                {{step.content}}
                            </div>
                        </div>

                    </ion-list>
                </ion-content>
            </div>

            <!--steps button group-->
            <ion-footer-bar class="bar-assertive" style="padding:0px; border:0px;">
                <div class="item tabs tabs-assertive tabs-icon-left">
                    <a class="tab-item">
                        <i class="icon ion-android-favorite" ng-show="yummy_check" ng-click="yummyClicked()"></i>
                        <i class="icon ion-android-favorite-outline" ng-hide="yummy_check" ng-click="yummyClicked()"></i>
                        <span style="font-size:14px;">&nbsp;&nbsp;&nbsp;{{yummy_count}}</span>
                    </a>
                    <a class="tab-item" ng-click="addReply()">
                        <i class="icon ion-chatbox"></i>
                        <span style="font-size:14px;">&nbsp;&nbsp;&nbsp;{{reply_count}}</span>
                    </a>
                    <a class="tab-item" ng-click="share_social()">
                        <i class="icon ion-android-share-alt"></i>
                    </a>
                    <a class="tab-item" ng-click="show_summary()">
                        <i class="icon ion-ios-grid-view"></i>
                    </a>
                </div>
            </ion-footer-bar>
        </ion-slide>
    </ion-slide-box>
</div>
