<div ng-controller="showsummaryCtrl" class="modal image-modal transparent">
    <div class="card showcookCard">
        <ion-header-bar class="bar-assertive">
            <button class="button icon-left ion-ios-arrow-thin-left button-clear" ng-click="closeModal()"></button>
            <h1 class="title">showsummary</h1>
        </ion-header-bar>

        <ion-content delegate-handle="mainScroll">
            <button class="button button-small button-clear button-positive tag_button" ng-click="gotoslide(3)">
                slide test
            </button>
        </ion-content>
    </div>
</div>
