/* summary tag */
.button-round{
    border-radius: 13px;
}

/* gallery step & button*/
.step{
    background-position: center;
    background-size: 100%;
    height:100px;
    padding: 5px;
    background-repeat: no-repeat;
}

.plus-button{
    height: 100px;
    width:100%;
}

/* detail */


.col-canvas{
    margin: auto;
    /*width:60%; !important;*/

}

/*notice*/

.item-checkbox-right .checkbox-icon {
    float: right;
}



