.avatar_div{
    min-height: 60px;
}

.avatar_img {
    height:30px !important;
    width:30px !important;
}

.cookdetail_btn > h2, .cookdetail_btn > h3 {
    padding-bottom: 5px;
}

.bar.bar-assertive{
    /*background-color: #f95f5f;
    border-color:#f95f5f;*/
    /*background-color:#e67e22;
    border-color:#e67e22;*/
}
