<ion-view title="Cookers">

    <ion-nav-buttons side="left">
        <button class="button button-small button-clear" ng-click="back_view_go();">

            <i style="color:white;" class="icon ion-arrow-left-b placeholder-icon"></i>

        </button>
    </ion-nav-buttons>

    <ion-content padding="true">

        <div class="card" style="margin-top:2%;!important;margin-bottom:1%;!important;">
            <div class="row" style="padding:3px;!important;">

                <div class="col-33">
                    <div class="item item-image">
                        <img ng-src={{imgdata}} width="100%" height="100%" border="1">

                    </div>
                </div>
                <div class="col-67">
                    <div style="margin-left:10px;">


                        <h5>{{cooker_profile.nick_name}}</h5>
                        <h5 style="color:dimgray;">{{cooker_state_comment}}</h5>

                        <div class="row" style="padding:3px;!important;">


                            <div class="col" style="text-align:center;" ng-click="followEvent();">
                                <h5>{{cooker_profile.following.length}}</h5>
                                <h5>팔로잉</h5>
                            </div>
                            <div class="col" style="text-align:center;" ng-click="followerEvent();">
                                <h5>{{cooker_profile.followers.length}}</h5>
                                <h5>팔로워</h5>
                            </div>
                            <div class="col" style="text-align:center;">
                                <h5>{{cooker_profile.my_cook.length}}</h5>
                                <h5>게시글수</h5>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
            <div>
                <button class="button button-block button-outline button-small button-assertive"
                        ng-click="profileBtnEvent();"
                        style="margin-top:0px;!important;margin-bottom:0px;">
                    {{profile_btn}}
                </button>
            </div>
        </div>

        <div class="row" style="padding-top:2%;!important;padding-bottom:2%;!important;">
            <div class="col">
                <button class="button button-block button-small button-assertive" ng-click="mycookEvent();">
                    내가쓴 글
                </button>
            </div>
            <div class="col">
                <button class="button button-block button-small button-assertive" ng-click="zimmyEvent();">
                    찜한 글
                </button>
            </div>
        </div>


        <!-- 나중에 zimmy mycook과 연결해서  ng-repeat -->

        <ion-scroll direction="y" style="margin:auto;!important;height:100%!important;width: 90% !important;"
                    ng-if="mycook_zimmy == 'mycook'">

            <div ng-if="cooker_profile.my_cook.length == 0" class="card">
                <div style="text-align:center;">
                    <img src="img/nomycook.png" style="width:50%;height:50%">
                </div>
            </div>

            <div class="card" ng-repeat="mycook in cooker_mycook"
                 style="height:80px;!important;margin-top:0px;!important;">

                <a class="item item-thumbnail-left" href="#">
                    <img ng-src="{{mycook.complete_photo}}" style="height:inherit;!important;">

                    <h2>{{mycook.title}}</h2><br>

                    <p>{{mycook.desc}}</p>
                </a>
            </div>
        </ion-scroll>


        <ion-scroll direction="y" style="margin:auto;!important;height:100%!important;width: 90% !important;"
                    ng-if="mycook_zimmy == 'zimmy'">

            <div ng-if="cooker_profile.zimmys.length == 0" class="card">
                <div style="text-align:center;">
                    <img src="img/nozimmy.png" style="width:50%;height:50%">
                </div>
            </div>

            <div class="card" ng-repeat="zimmy in cooker_zimmy"
                 style="height:80px;!important;margin-top:0px;!important;">

                <a class="item item-thumbnail-left" href="#">
                    <img ng-src="{{zimmy.complete_photo}}" style="height:inherit;!important;">

                    <h2>{{zimmy.title}}</h2>
                    <h4>작성자 : {{zimmy.nick_name}}</h4>
                    <p>{{zimmy.desc}}</p>
                </a>
            </div>
        </ion-scroll>
</ion-content>
</ion-view>
